# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directories
lib-cov
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
bower_components/
jspm_packages/
web_modules/

# Build directories
dist/
build/
.next
out
.target/           # optional Spring Boot backend
*.class
*.jar
*.war

# Environment files
.env
.env.*
!.env.example
.env.local

# IDE / project files
*.iml
.idea/

# Optional caches
.npm
.eslintcache
.stylelintcache
.node_repl_history
.cache
.parcel-cache
.nuxt
.vuepress/dist
.temp
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port
.vscode-test
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Compiled binary addons
build/Release
.lock-wscript

# Parcel, Grunt, Snowpack, TypeScript, Yarn integrity, etc.
